@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;  /* IE & Edge */
  scrollbar-width: none !important;     /* Firefox */
}